body{ 
    background-color: hsl(215, 32%, 27%);
}

.card{
    display:flex;
    flex-direction: column;
    border-radius : 15px;
    background-color:hsl(216, 50%, 16%);
    width:300px;
    height:500px;
    padding :25px;
    margin:auto;

}

.nft-id:hover{
    color: hsl(178, 100%, 50%);
}

.nft-id{ 
    margin: 20px 0px 15px;
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    font-size:20px;
    font-weight: 600;
    cursor: pointer;
}
.desc{ 
    margin-top: -15px;
    
}
h6{
    color:white; 
    font-family: 'Outfit', sans-serif;
}

p{
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
}

img{ 
    border-radius:10px;
    width:300px;
    height:300px;
    
}

.eye-icon{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    
    
}

.eye-icon-img{
    background-color:hsl(178, 100%, 50%) ;
    margin-top: -35px;
    border-radius: 10px;
}


.nft:hover .eye-icon{ 
    opacity: 0.7;
    cursor: pointer;
}

.nft:hover .eye-icon-img{
    opacity:1;
    
}



.middle-card { 
    display : flex; 
    flex-direction: row;   
}

.lower-card{ 
    display : flex;
    flex-direction: row;   
}

.lower-card div{ 
    margin-top: 5px;
}

.lower-card p{
    color:hsl(215, 51%, 70%);
}

.lower-card span{ 
    color:hsl(0, 0%, 100%);
    cursor : pointer;
}

#creator { 
    width : 30px; 
    height : 30px;
    margin : 10px 13px 0px 0px;
    border: 1px solid white;
    border-radius: 100%;
}

.horizontal-line {
    padding-bottom: 20px;
    border-bottom: 1px solid hsl(215, 32%, 27%); 
}

.eth{ 
    display: flex;
    flex-direction : row;  
}

.eth p{ 
    margin : -2px 9px;
    color :#00FFF8;
}

.time-left{
    display:flex;
    flex-direction : row;   
}

.time-left p{ 
    margin : -2px 9px;
    color: #8BACD9;
}

.time-left svg{ 
    margin:0px 0px 0px 80px;
}

.center
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
}

.name span:hover{ 
    color:hsl(178, 100%, 50%);
}